*{ margin: 0;padding: 0; }
a{text-decoration: none; }
#hd{width: 100%;background: #333333;margin: auto;}
#hd_main{width: 1200px;height: 60px;margin: auto;}
#hd_1{font-size: 20px;color: #ffffff;float: left;width: 130px;height: 60px;}
#hd_x ul{list-style: none;}
.hd_x{ display: block;font-size: 20px;color: #ffffff;float: left;width: 100px;height: 60px;line-height: 60px;text-align: center;}

.hd_menu{width: 100px;height: 0px;overflow: hidden;line-height: 40px;font-size: 18px;text-align: center;}
.hd_menu  li{height:40px;width: 100px;}
.hd_menu  li a{display: block;background: #666;color: #fff;}
.hd_menu  li a:hover{background: #ccc;color: #000;}

#hd_abouts{font-size: 20px;color: #fff;float: right;width: 100px;line-height: 60px;background:#666;}
#hd_right ul{list-style: none;display: block;float: right;text-align: center;}

#subnav{position: relative;width: 100px;height: 0px;font-size: 18px;text-align: center;overflow:hidden;line-height: 40px;}
#subnav li a{background: #666;display: block;color: #fff;height: 40px;}
#subnav li a:hover{background: #ccc;color: #000;}

#main{width: 1200px;margin: 15px auto;background: #CCCC99;border:0px solid #ccc;}
#main_1{width: 800px;background: #000;}

.people{width: 800px;height:400px;background: #fff;margin:10px 0px;border:1px solid #ccc;}

#footer{width: 100%;background: #333333;}
#foot{width: 1200px;margin: auto;background: #333333;padding-top: 15px;padding-bottom: 15px;}
#foot a{color: #999999;text-decoration: none;font-size: 15px}
#foot a:hover{color:#cccccc}
.foot_body{ padding: 10px 0px;font-size: 20px;line-height:20px;}
#fet{color: #ccc}
