@charset "utf-8";
html,
body,
ul,
li,
dl,
dd,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.center {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid #6699FF;
}
.header {
  width: 760px;
  padding: 20px;
}
.header img {
  display: block;
  width: 100px;
  height: auto;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 1px solid #6699FF;
}
.header img:hover {
  border: 1px solid #996699;
}
.header a {
  text-align: center;
}
.center:hover {
  border: 1px solid #996699;
}
.content {
  margin-top: 50px;
  padding: 30px 0;
}
.content a {
  border: 1px dotted #003366;
}
.content a:hover {
  color: #fff;
  border: 1px dotted #003366;
}
.head {
  display: block;
  margin: 0 auto;
  justify-content: center;
}
.head a {
  text-decoration: none;
  behavior: url(jscript/ie-css3.htc);
  float: left;
  display: inline-block;
  padding: 5px 10px;
  background-color: #6E8783 ;
  color: #F7F7F7;
  border: 1px solid #eee;
  margin: 5px;
  border-radius: 5px;
}
.head a:hover {
  background-color: #C76D52 ;
}
.main a {
  text-decoration: none;
  border-radius: 10px;
  behavior: url(jscript/ie-css3.htc);
  display: block;
  width: 300px;
  margin: 10px auto;
  padding: 10px 0;
  text-align: center;
  background-color: #666699;
  font-family: "微软雅黑";
  color: #fff;
}
.main a:hover {
  background-color: #0099FF;
}
.footer {
  margin-top: 50px;
}
.footer p {
  padding: 5px 10px;
}
