*{margin: 0;padding: 0; }
body{background: #eee;font-family: "微软雅黑"}
a{text-decoration: none; }
#hd{width: 100%;background: #fff;top:0px;position: relative;z-index: 99;}
#hd_main{width: 1200px;height: 60px;margin: auto;}
#hd_1{font-size: 20px;color: #000;float: left;width: 130px;height: 60px;}
#hd_x ul{list-style: none;}
.hd_x{ display: block;font-size: 20px;color: #000;float: left;width: 102px;height: 60px;line-height: 60px;text-align: center;}
.hd_x a{display: block; }
.hd_x a:hover{font-size: 23px;}
.hd_menu{width: 102px;height: 0px;overflow: hidden;line-height: 40px;font-size: 18px;text-align: center;}
.hd_menu  li{height:40px;width: 100px;background: #666;}
.hd_menu  li a{display: block;color: #fff;}
.hd_menu  li a:hover{background: #999;color: #000;font-size: 18px;}

#hd_abouts{font-size: 20px;color: #999;float: right;width: 100px;line-height: 60px;margin-right: 10px;}
#hd_right ul{list-style: none;display: block;float: right;text-align: center;margin-right: 10px;}

#subnav{width: 100px;height: 0px;font-size: 18px;text-align: center;overflow:hidden;line-height: 40px;}
#subnav li a{background: #666;display: block;color: #fff;height: 40px;}
#subnav li a:hover{background: #999;color: #000;}

#main{width: 1200px;margin: 20px auto 20px;border:1px solid #ccc;background: #fff;}
#main_1{width: 800px;background: #fff;border:1px solid #eee;}

.people{width: 798px;background: #fff;border:1px solid #369;margin: 5px;}
.people a{color: #000;}
.people a:hover{color: #963;text-decoration: underline;}
.teamifm{width: 100%;height: 40px;background: #999;color: #fff;line-height: 40px;font-size: 20px;text-indent: 1em;}
.teamifm a{color: #fff;font-size: 18px;}
.ifm{line-height: 25px;font-size: 16px;background: #fff;color: #000;padding: 20px;}
.ifm ul{list-style: none;}
#footer{width: 100%;background: #333333;}
#foot{width: 1200px;margin: auto;background: #333333;padding-top: 15px;padding-bottom: 15px;}
#foot a{color: #999999;text-decoration: none;font-size: 15px}
#foot a:hover{color:#cccccc}
.foot_body{ padding: 10px 0px;font-size: 20px;line-height:20px;}
#fet{color: #ccc}
