body
{
	margin: 0px;
	padding: 0;
}
*
{
	font-family: "微软雅黑";
}
.header_top{
	width:100%;
	height:35px;
	background-color:rgba(44,44,44,1);
}
.header_top a{
	color:#fff;
	text-decoration: none;
	font-size:20px;
	line-height: 35px;
	float:left;
	margin-left: 20px
}
.header_top a:hover{
	color:#999999;
}
#top{
	background: #49423a;
	color: #ff9e1d;}
#top a{
	color: #eee;
	margin-left: 10px;

}
#main a
{
		font-size: 15px;
		line-height: 30px;
		text-decoration: none;
}
#main a:hover
{
	text-decoration: underline;
}
#main
{
	margin:0px auto;
	width: 800px;
}
#main_1
{
	margin:0px auto;
	width: 800px;
	color:#000;
}
#main_2 span a
{
	font-size: 20px;
}
#main_2 ul li a
{
	margin-right: 15px;
}
#main_2 ul li a:nth-of-type(1)
{
	color: red;
}
#main_2 ul li a:nth-of-type(2)
{
	color: green;
}
#main_2 ul li a:nth-of-type(3)
{
	color: #336633;
}
#main_2 ul
{
	border:1px solid #ccc;
	padding: 20px 30px;
}








