@charset "utf-8";
html,
body,
td,
th,
tr,
ul,
li,
p,
input,
img,
dd,
dt,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
select,
option {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
img {
  border: 0;
}
html,
body {
  width: 100%;
  height: 100vh;
  font-size: 100%;
  background: url(../images/bg.jpg) no-repeat center center;
  background-size: 100vw 100vh;
}
@media screen and (min-width: 640px) {
  html,
  body {
    font-size: 20px;
  }
}
h3 {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  line-height: 5rem;
  background-color: #c41828;
  margin-bottom: 5rem;
}
.register {
  width: 100%;
}
.register img {
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.register input {
  width: 80%;
  height: 3rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  margin: 0.5rem 7%;
  outline: none;
}
.register input[type="text"] {
  background-color: #fff;
  text-indent: 3%;
}
.register input[type="button"] {
  background-color: #c41828;
  color: #fff;
}
