@charset "utf-8";
body,td,th,tr,ul,li,p,input,img,dd,dt,dl,h1,h2,h3,h4,h5,h6,select,option{margin:0;padding:0;font-style: normal;font-weight:normal;}
ul,li{list-style:none;}
img{border:0;}
html,body{
	font-size:10px;
}
h3{
	width:100%;
	text-align: center;
	color:#fff;
	font-size:1rem;
	line-height:3rem;
	background-color:#546;
}
label{
	display:block;
	width:80%;
	margin:0.5rem auto;

}
.register p{
	width:5rem;
	padding-right: 0.5rem;
	font-size:1rem;
	line-height: 3rem;
	display: inline-block;
	text-align: right;
}
.register input[type=text]{
	height:3rem;
}