@charset "utf-8";
body,ul,li,p,input,dt,dl,dd{margin:0;padding:0;}
*{margin:0;padding:0;}
ul,li{list-style:none;}
.menu_side_dd{
	color:#c2d9f8;
	font-family: "宋体";
	text-decoration: none;
	margin:0;
	padding:0 2px;
	float:left;
	font-size:12px;
	line-height: 20px;
}
#main dl{
	width:168px;
	height:45px;
	background: url(../images/menu_list_dl.jpg) #4693ff no-repeat 175px center;
	padding:10px;
	border-left:1px solid #3487f2;
	border-bottom:1px solid #3487f2;
	float: left;
}
.menu_side_dt{
	color:#fff;
	font-size: 14px;
	font-family:"微软雅黑";
	text-decoration: none;
}
.menu_point{
	font-size: 14px;
	font-family:"微软雅黑";
	color:#fff;
	padding:0 2px;
	background:#106ac0;
	border-radius:5px;
}
#main dl:hover{
	background:#fff;
}
#main dl:hover dd .menu_side_dd,#main dl:hover dt .menu_side_dt{
	color:#000;
}
#main,.main_center{
	width:1000px;
	margin:0 auto;
}
#main_menu{
	width: 189px;
	float:left;
	height:323px;
	background:#4693ff;
	overflow:hidden;
	border-bottom:1px solid #3487f2;
}
/*轮播图*/
#main_banner{
	width:811px;
	height:324px;
	float:right;
	overflow:hidden;
	position:relative;
}

#main_banner li{
	width:811px;
	height:325px;
	list-style:none;
	float:left;
}
#banner{
	width:3244px;
	height:325px;
	position: relative;
	left:0px;
}
.banner_tag{
	width:30px;
	height:70px;
	background:#666;
	position:absolute;
	opacity:0.8;
	top:122px;
	opacity:0;
	font-size:30px;
	color:#fff;
	line-height: 70px;
	text-align:center;
}
.banner_tag a{
	color:#fff;
	color:"宋体";
	text-decoration: none;
}
#prev{
	left:0;
}
#next{
	right:0;
}
#main_banner:hover #prev,#main_banner:hover #next{
	opacity:1;
}

.banner_index{
	position: absolute;
	width:100%;
	height:30px;
	bottom:10px;

}
.banner_index_center{
	margin:0 auto;
	width:200px;
	height:30px;
	text-align: center;

}
.banner_icon{
	width:20px;
	height:20px;
	display: inline-block;
	border-radius:50%;
	background-color:#333;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color:#fff;
}
.banner_icon:hover,.banner_icon_active{
	background:#FF0033;
	color:#ccc;

}

/*轮播结束*/
.content_list{
	width:1000px;
	height:475px;
	margin:0px auto;
	position: relative;
}
.content_top{
	height:75px;
	width:1000px;
}
.content_top div{
	position: absolute;
	top:25px;
	left:55px;
	font:24px/35px "微软雅黑";

}
.content_main{
	position: absolute;
	top:75px;
	left:0px;
}
.content_top span{
	position: absolute;
	top:25px;
	width:35px;
	height:35px;
	background:url(../images/home_PC.jpg) #4bc7c7 no-repeat center center;
}
.more{
	position: absolute;
	right:0;
	top:15px;
	font:12px/75px "微软雅黑";
}
.content_left{
	width:189px;
	height:400px;
	float:left;
	position: relative;
}
.content_left_ad li{
	position: absolute;
	left: 0;
	top:0;
}
.content_left_index{
	position: absolute;
	width:100%;
	height:10px;
	bottom:10px;

}
.content_left_center{
	margin:0 auto;
	width:100%;
	height:10px;
	text-align: center;

}
.content_left_icon{
	width:20px;
	height:10px;
	display: inline-block;
	background-color:#333;
	border:1px solid #FFFFFF;

}
.content_left_icon:hover,.content_left_icon_active{
	background:#FF0033;
	border:1px solid #FFFFFF;
}
.content_right{
	float:left;
	width:810px;
	margin-left: 1px;
	border-bottom:3px solid #fc7203;
}
.content_right_list{
	float:left;
}
.list_ad{
	border:1px solid #ccc;
	border-left:none;
	width:201.5px;
	height:280px;
	background:#fff;
	float: left;
	position: relative;
}
.list_ad a{
	text-decoration:none;
	text-align:center;
}
.list_ad img{
	position: absolute;
	top:40px;
	right:40px;
	border:0;
}
.list_ad h3{
	position: absolute;
	bottom:7px;
	left:20px;
	color:#000;
	font:18px "微软雅黑";
}
.list_ad h3 span{
	color:#ff680d;
	font-size:15px;
}
.list_ad img:hover{
	right:35px;
}
.list_ad_mini{
	border-right:1px solid #ccc;
	width:201.5px;
	height:115px;
	background:#fff;
	float: left;
	position: relative;
}
.list_ad_mini img{
	position:absolute;
	top:30px;
	left: 10px;
	border:0;
}
.list_ad_mini img:hover{
	left:15px;
}
.list_ad_mini p{
	padding:0;
	margin:0;
	position: absolute;
	top:30px;
	left:100px;
	width:100px;
	font: 12px/18px "宋体";
	color:#000;
}
.list_ad_mini p:hover{
	color:#fc7203;
}
.list_ad_mini p span{
	color:#000;
	font:16px/18px "微软雅黑";
}
