body{
	background-color:#f0f0f0 ;
}
.main{
	width:1000px;
	margin:0 auto 20px;
	background-color: #fff;

}
.main_nav{
	color:#555555;
	font-size:12px;
	font-family:"宋体";
	width:1000px;
	margin:25px auto;
}
.main_nav > span:nth-of-type(1){
	font-weight:bold;
}
.img_show{
	width:310px;
	height:500px;
	float:left;
	border-right:1px solid #cdcdcd;
	position: relative;
}
.big_img{
	position: absolute;
	top:0;
	left:0;
}
.small_img{
	position: absolute;
	top:350px;
	left:0px;
	margin-left:16px;
}
.small_img > img{
	border:1px solid #d4c8ca;
	float:left;
}
.small_img > img:nth-of-type(1){
	border:1px solid #2d80e6;
}
.small_img > img:hover{
	border:1px solid #2d80e6;
}
.content{
	border:1px solid #cdcdcd;
}
.content_information{
	padding:0px 10px;
	width:660px;
	height:500px;
	float:right;
	position: relative;
}
.content_information h3{
	margin-top:20px;
}
.select_ifm{
	width:100%;
	float:left;
	font-size: 12px;
	margin: 5px 0;
}
.select_ifm dt{
	text-indent:10px;
	width:70px;
	font-family:"宋体";
	text-align: left;
	float:left;

}
.select_ifm dd{
	text-align: left;
	color:#666666;
}
.proce_dt{
	line-height: 30px;
}
.price{
	color:#c40004;
	font-size:25px;
}
.full_buy{
	display: inline-block;
	margin-right:5px;
	padding: 1px 2px 1px 13px;
	background:url(../images/full_buy.jpg) #fa8a02 no-repeat left center;
}
.color li{
	background-color:#fff; 
	float: left;
	font-size:15px;
	padding:5px 20px;
	margin-right: 10px;
	color:#000;
	cursor:pointer;
	border:1px solid #cbcbcb;
}
.color li:hover,.color li:nth-of-type(1){
	border:1px solid #337dea;
}
.color_dt{
	line-height: 24px;
}
.norms_dt{
	line-height: 68px;
}
.norms li{
	cursor:pointer;
	background-color:#fff; 
	float: left;
	font-size:12px;
	padding:5px 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border:1px solid #cbcbcb;
}
.norms li:hover,.norms li:nth-of-type(1){
	border:1px solid #337dea;
}
.select_ifm_bg{
	background-color:#f2f2f2;
	padding:10px 0;
}
.number input{
	height:30px;
	float:left;
	width:50px;
	text-align: center;
}
.number li{
	float: left;
	height:32px;
	border:1px solid #b0b0b0;
	line-height: 32px;
	padding: 0 2px;
	cursor:pointer;
}
.number li:first-child{
	border-right:none;
}
.number li:last-child{
	border-left:none;
}
.number dt{
	line-height: 32px;
}
.number span{
	line-height: 32px;
	margin-left: 5px;
}
.number em{
	color:red;
	font-style:normal;
}
.buy_car{
	
}
.buy_car p{
	text-indent:10px;
	padding: 5px 0;
}
.buy_car p:first-child{
	color:#6c6c6c;
	font-weight:bold;
	font-size:13px;
}
.buy_car p:first-child span{
	color:#0c77c9;
}
.buy_car p:last-child{
	position: absolute;
	color:#999999;
	bottom:0px;
	left: 0px;
}
.buy_car div{
	float: left;
	width:240px;
	margin:30px 35px;
}
.buy_car div:nth-of-type(1){
	border-right:1px solid #e6e6e6;
}
#join_car{
	width:165px;
	height:50px;
	border:0;
	color:#fff;
	font-size:20px;
	padding-right: 15px;
	text-align:right;
	background: url(../images/shopcar.jpg) #fb8700 no-repeat 20px center;

}
#buy_now{
	width:155px;
	height:50px;
	border:0;
	color:#fff;
	font-size:20px;
	padding-right: 25px;
	text-align:right;
	background: url(../images/shopcar.jpg) #fb8700 no-repeat 20px center;
}
.xq{
	background-color:#f0f0f0;
}
.sidebar{
	float: left;
	width:188px;
	border:1px solid #c0c0c0;
	border-top :3px solid #2686c3;
	background-color:#fff;
}
.sidebar h3{
	height:39px;
	background-color:#f3f3f3;
	border-bottom:1px solid #c0c0c0;
	color:#323232;
	line-height: 39px;
	text-indent:15px;
	font-size:14px;
}
.commodity li{
	float:left;
	margin:10px 10px 10px 20px;
	font-size:12px;
	color:#979797;
	line-height: 15px;
}
.commodity li span{
	color:#e50012;
}
.details{
	float: left;
	width:785px;
	margin-left: 23px;
	background-color:#fff;
	border:1px solid #c0c0c0;
}
.details_title{
	float:left;
	height:40px;
	width:50%;
	background-color:#f3f3f3;
	background-repeat: no-repeat;
	background-position: 135px center;
	border-bottom:1px solid #c0c0c0;
	text-align:center;
	line-height: 40px;
}
.referral{
	background-image: url(../images/referral.png);
}
.evaluate{
	background-position: 105px center;
	background-image: url(../images/evaluate.png);
}
.active,.details_title:hover{
	color:#fff;
	background-color:#0479c9;
}
.details_content{
	padding: 0 10px;
	height: 160px;
	width:100%;
	float: left;
	position: relative;
}
.evaluate_mini{
	margin-top:10px;
	font-size:12px;
	color:#666666;
	font-weight:bold;
}
.score{
	margin-top: 30px;
	font-size:40px;
	color:#ff8d00;
	float: left;
}
.score span{
	font-size:15px;
	color:#68676f;

}
.satisficing{
	margin-top: 30px;
	color:#fff;
	position: relative;
	left:15px;
}
.satisficing li{
	float: left;
	padding:1px 25px;
	font-size:12px;
	background-color:#bdbdbd; 
}
.satisficing li:nth-of-type(5){
	background-color:#fa000f; 
}
.satisficing_p{
	position: absolute;
	padding:1px 2px;
	font-size:12px;
	top:-20px;
	right: 300px;
	background-color: #818181;
}
.miaoshu{
	position: absolute;
	top:75px;
	left:100px;
	font-size: 12px;
	color:#68676f;
}
.evaluate_content{
	width:100%;
	float: left;
}
.eva_cont_title{
	width:100%;
	background-color: #f2f2f2;
	font-size:12px;
	color:#000;

}
.eva_cont_title li{
	float: left;
}
.eva_cont_all{
	float: left;
}
.eva_cont_all li{
	margin:0 15px;
	padding:0 5px;
	line-height: 27px;
	border-bottom:3px solid #f2f2f2;
}
.eva_cont_all li:hover,.eva_cont_all .eva_title_active{
	color:#307fe4;
	border-bottom-color:#307fe4;
}
.sort{
	float: right;
	margin:5px 5px 0 0;
	position: relative;
}
.sort li{
	padding:3px 15px 3px 5px ;
	background:url(../images/sort.jpg) no-repeat 55px center;
	border:1px solid #cdcdcd;
	border-bottom:none;
}
.sort img{
	position: absolute;
	top:-13px;
	right:15px;
}
.user_content{
	padding:20px 10px 20px 40px;
	width:785px;
	font-size:12px;
	color:#a0a0a0;
}
.user_cont_left{
	float: left;
}
.user_cont_left img{
	border-radius:13px;
}
.user_cont_left p{
	text-align:center;
	line-height: 18px;
}
.user_cont_right{
	float: left;
	margin-left:70px; 
	position: relative;
}
.star{
	width:590px;
	position: relative;
}
.star span{
	width:13px;
	height:13px;
	display: inline-block;
	background: url(../images/star.jpg) no-repeat center center;
}
.star i{
	color:#000;
	font-style:normal;
	font-weight:bold;
}
.time{
	position: absolute;
	top:0;
	right:0;
	font-size:12px;
	color:#a0a0a0;
}
.user_information{
	line-height: 40px;
	color:#a0a0a0;
	margin-bottom: 15px;
}
.cai a{
	display: inline-block;
	text-decoration: none;
	color:blue;
	margin-right: 5px;
}
.next_tag{
	margin:10px auto;
	width: 100%;
	text-align:center;
	font-size:12px;
}
.next_tag a{
	padding:3px 7px;
	text-decoration: none;
	color:#000;
	border:1px solid #d5d5d5;
}
#point{
	border:none;
}
.next_tag a:hover{
	color:red;
}
.next_tag input[type="text"]{
	width:30px;
	margin:0px 3px;
	text-align:center;
}
.next_tag input[type="button"]{
	padding:2px;
	margin:0px 3px;
}