@charset "utf-8";
body,ul,li,p,input{margin:0;padding:0;}
body{background-color:#eee;}
.clearfix{*zoom:1;clear:both;}
.clearfix:before,.clear:after{
	content:"";
	clear:both;
	display:inline-block;
}
.clear{clear:both;height:0;}
.header_top_fc{
	width:100%;
	background-color:#f7f7f7;
}
.top{
	width:1000px;
	margin:0 auto;
	font-size:12px;
	font-family:"宋体";
	padding:4px 0;
}
.top_left{
	float:left;
	font-weight:bold;
}
.top_left span{
	width:12px;
	height:12px;
	padding: 0 3px;
	display: inline-block;
	background:url(../images/start.gif) no-repeat left center;
}
.top_right{
	float:right;
}
/*顶部 结束！*/

.header_top_fc a{
	color:#000;
	margin-right:5px;
}
.header_top_fc a:hover{
	color:#ce1029;
}

.header_logo_fc{
	width:100%;
	background:#1d7ad9;
}
.header_logo{
	width:1000px;
	margin:0 auto;
}
.top_logo{
	width:189px;
	height:85px;
	display:inline-block;
}
.seacher{
	float:right;
	width:800px;
}
.seacher input{
	height:35px;
	line-height: 35px;
	float:left;
	outline:none;
	font:14px/35px "微软雅黑";
}
#seach_box{
	font-size:15px;
	border:none;
	width:360px;
	margin:25px 0px 25px 150px;
}
#seach_btn{
	width:70px;
	height:35px;
	background:#ff8c01;
	margin:25px 0;
	border:none;
	color:#fff;
	cursor:pointer;
}
#shopcar{
	height:35px;
	width:82px;
	padding-right: 5px;
	text-align:right;
	float:left;
	margin:25px 0 0 30px;
	color:#fff;
	font:14px/35px "微软雅黑";
	background:url(../images/shopcar.jpg) #ff8c01 no-repeat 3px center; 
	border-right:1px solid #e27a00;
	cursor:pointer;
}

#shopcar_num{
	border-left:1px solid #ff9c01;
	width:56px;
	height:35px;
	float:left;
	margin:25px 0;
	text-align:right;
	line-height: 35px;
	color:#fff;
	cursor:pointer;
	background:url(../images/shopcar_num.jpg) #ff8c01 no-repeat 35px center;
}
#shopcar_num span{
	margin-right:25px;
	font:14px/35px "微软雅黑";
}
/* 同步结束 */
#menu_list_big_bg{
	width:100%;
	background:#1369c0;
}
#menu_list{
	width:1000px;
	margin:0 auto;
	height:35px;
}
.menu_top li{
	list-style:none;
	float:left;
	height:35px;
	font:16px/35px "微软雅黑";
	padding:0 25px;
	color:#fff;
}
.menu_top li:hover,.active{
	background-color:#4693ff ;
}
.menu_side{
	width:189px;
	height:35px;
	display: inline-block;
	float: left;
}
.menu_side h3{
	margin:0;
	padding:0;
	width:189px;
	font:16px/35px "微软雅黑";
	display:inline-block;
	text-indent: 40px;
	color:#fff;
	background: url(../images/menu_list.jpg) #1369c0 no-repeat 148px center;
}
/*导航菜单结束*/
dl a{
	font-size:14px;
	line-height:16px;
}
dt,dl,dd{
	margin:0;
	padding:0;
}
.menu_side_dd{
	color:#c2d9f8;
	font-family: "宋体";
	text-decoration: none;
}
#main dl{
	width:168px;
	background: url(../images/menu_list_dl.jpg) #4693ff no-repeat 175px center;
	padding:11px 10px;
	border-left:1px solid #3487f2;
	border-bottom:1px solid #3487f2;
	float: left;
}
.menu_side_dt{
	color:#fff;
	font-family:"微软雅黑";
	text-decoration: none;
}
.menu_point{
	color:#fff;
	padding:2px;
	background:#106ac0;
	border-radius:5px;
}
#main dl:hover{
	background:#fff;
}
#main dl:hover dd .menu_side_dd,#main dl:hover dt .menu_side_dt{
	color:#000;
}
#main{
	width:1000px;
	margin:0 auto;
	
}
#main_menu{
	width: 189px;
	float:left;
}
#main_banner{
	margin-top: 6px;
	width:811px;
	height:325px;
	float:right;
	overflow:hidden;
	position:relative;
}

#main_banner li{
	width:811px;
	height:325px;
	list-style:none;
	float:left;
}
#banner{
	width:3244px;
	height:325px;
	position: relative;
	left:0px;
}
.banner_tag{
	width:30px;
	height:70px;
	background:#666;
	position:absolute;
	opacity:0.8;
	top:122px;
	opacity:0;
	font-size:30px;
	color:#fff;
	line-height: 70px;
	text-align:center;
}
.banner_tag a{
	color:#fff;
	text-decoration: none;
}
#banner_tag_left{
	left:0;
}
#banner_tag_right{
	right:0;
}
#main_banner:hover #banner_tag_left,#main_banner:hover #banner_tag_right{
	opacity:1;
}
