@charset "UTF-8";

.header-tip{
  width:100%;
  font-size:12px;
  font-family:'微软雅黑';
  line-height: 22px;
  background-color:#f3f3f3;
  p{
    overflow:hidden;
  }
}
.no-tip-angin{
  position: absolute;
  top:0;
  right:0;
}
.header-top{
  padding:35px 0;
  height:20px;
  vertical-align:middle;

  .logo span.icon{
    display:inline-block;
    width:72px;
    height:20px;
    vertical-align:middle;
    background:url("../images/net-icon.png") no-repeat 0px -42px;
  }
  .title{
    display:inline;
    position:relative;
    bottom:-4px;
    color:#333333;
    font-family:'HSGB';
    font-size:22px;
    ling-height:20px;
    margin-left:13px;
    margin-right:30px;
  }
  .guanzhu{
    .attention{
      display:inline-block;
      width:54px;
      height:21px;
      margin-right:15px;
      border-radius:3px;
      background-color:#21a557;
      text-align:center;
      line-height:21px;
      color:#fff;
      font-size:12px;
      vertical-align:middle;
      font-family:'宋体','SimSun';
      cursor:pointer;
      &:hover{
        background-color:#2fb556;
      }
      .icon {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right:5px;
        background: url("../images/net-icon.png") -19px -6px;
        vertical-align: middle;
      }
    }
    .fans{
      display:inline-block;
      color:#666666;
      font-size:12px;
      vertical-align: middle;
      font-family:'宋体','SimSun';
      span{
        padding-left:3px;
      }
    }
  }
  .guanzhu2{
    padding:4px 7px;
    border:1px solid #efefef;
    .attention{
      background:none;
      color:#333333;
      position:relative;
      margin-right:8px;
      cursor:not-allowed;
      .icon{
        background: url("../images/net-icon.png") -37px -7px;
      }
      &:hover{
        background:none;
      }
    }
    .attention:after{
      content:"";
      position:absolute;
      background-color: #cccccc;
      right:0;
      top:5px;
      width:1px;
      height:10px;
    }
    .fans{
      color:#999999;
      span{
        display:none;
      }
      &:hover{
        color:#21a557;
        text-decoration:underline;
      }
    }
  }
  .nav-right{
    float:right;
    a{
      float:left;
      font-size:16px;
      line-height:20px;
      margin:0 30px;
      font-family: HSGB;
      &:hover{
        color:#21a557;
      }
    }
    .search{
      display:inline-block;
      width:19px;
      height:19px;
      margin:0;
      background:url("../images/net-icon.png") no-repeat -64px -2px;
      &:hover{
        background:url("../images/net-icon.png") no-repeat -91px -2px;
      }
    }
  }
}
.login-wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index:99;
  .login-modal {
    width: 388px;
    height: 288px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 50px 38px 40px;
    background-color: #fff;
    opacity:1;
    box-sizing:border-box;
  }
  .login-title {
    font-size: 18px;
    line-height: 28px;
    font-family: '微软雅黑', 'Microsoft YaHei';
    color: #444444;
  }
  .login-close{
    display: inline-block;
    width:23px;
    height:22px;
    position:absolute;
    top:3px;
    right:1px;
    cursor:pointer;
    background:url("../images/net-icon.png") no-repeat -106px -41px;
  }
  input{
    width:291px;
    height:43px;
    box-sizing:border-box;
    border:none;
    font-size:16px;
    line-height:28px;
    font-family: "微软雅黑",'microsoft yahei';
  }
  input[type='text']{
    margin:15px 0 0 1px;
    border:1px solid #dfdfdf;
    text-indent:10px;
  }
  input[type='submit']{
    margin-top:30px;
    background: -webkit-gradient(linear,0% 0%,100% 100%,from(#2fb555),to(#128e29));
    background: -webkit-linear-gradient(315deg, #2fb555, #128e29);
    color:#fff;
    cursor:pointer;
    border-right:2px solid #d5e3da;
    border-bottom:2px solid #d5e3da;
  }
}
.carousel{
  width:1652px;
  height:460px;
  .carousel-img{
    width:100%;
    height:100%;
    overflow:hidden;
    pisition:absolute;
    top:0;
    left:0;
    &>div{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
  }
  .carousel-nav{
    z-index: 3;
    width:100%;
    position:absolute;
    bottom:20px;
    left:0;
    right:0;
    margin:0 auto;
    text-align:center;
    span{
      display:inline-block;
      width:10px;
      height:10px;
      border-radius:50%;
      background-color:#000;
      margin:0 5px;
      cursor:pointer;
    }
    .selected{
      background-color: #fff;
    }
  }
}
.content-nav{
  margin:60px auto;
  display:flex;
  justify-content: space-between;
  .content-nav-wrap{
    width:360px;
  }
  .img-wrap{
    width:80px;
    height:80px;
    display: inline-block;
    float: left;
    margin:5px;
    border-radius:50%;
    background:url("../images/net-icon.png") #39a030 no-repeat 0 -82px;
  }
  .openclass {
    background-position: 20px -62px ;
  }
  .cloudClassroom{
    background-position: -53px -62px ;
  }
  .mooc{
    background-position: -127px -62px ;
  }
  .centent{
    width:240px;
    padding:0 15px;
    overflow:hidden;
    font-family: "微软雅黑", 'microsoft yahei';
    h4{
      font-size:20px;
      line-height: 20px;
      color:#333333;
      margin-bottom:15px;
    }
    p{
      font-size:14px;
      line-height: 24px;
      color:#666666;
      margin-bottom:34px;
    }
    a.link{
      color:#39a030;
    }

  }
}

.work-life{
  width:1616px;
  display:flex;
  justify-content: space-between;
}
.classcontent{
  margin-top: 80px;
  position:relative;
  .title{
  }
  .title li {
    width:200px;
    height:50px;
    float:left;
    text-align:center;
    font:20px/22px '微软雅黑';
    line-height:50px;
    color:#fff;
    background-color: #39a030;
    box-shadow: 1px 1px 1px #d4d3d3;

  }
  li.two{
    color:#333;
    background-color: #fff;
  }
}

.footer{
  width:100%;
  height:262px;
  margin-top:120px;
  background-color:#2c3339;
  overflow:hidden;
  padding:100px 0 0 0;
  box-sizing:border-box;
  .information{
    float:left;
  }
  .icon{
    display:inline-block;
    width:72px;
    height:19px;
    margin-right: 12px;
    vertical-align: middle;
    background:url("../images/net-icon.png") no-repeat 0 -43px;
  }
  h4{
    margin-bottom: 25px;
    color:#39a030;
    font-size:22px;
    line-height: 20px;
    font-family: 'HSGB';
  }
  p,a,h6{
    color:#bebfc0;
    font-size:12.5px;
    line-height: 25px;
    letter-spacing: 1px;
    font-family:"微软雅黑","Microsoft YaHei";
  }
  .frand-link{
    float:right;
    width:210px;
    a:hover{
      text-decoration:underline;
    }
    .weibo-icon{
      display: inline-block;
      width:20px;
      height:20px;
      vertical-align: middle;
      margin-left: 10px;
      background:url("../images/net-icon.png") no-repeat -124px -2px;
    }
  }
}