@charset "utf-8";
body{
	margin: 0;
	font-family: 'Microsoft Yahei';
	font-size: 16px;
}

// title,footer,concel,true 's height and line-height
// 标题、确认、取消按钮的高度和行高
//弹窗CSS
$tqModelHeight:40px;
.tq-model{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
}
.tq-model-wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 500px;
	height: 250px;
	border: 1px solid #666;
	background-color: #eee;
}
.tq-model-title{
	position: absolute;
	width: 100%;
	height: $tqModelHeight;
	text-align: left;
	text-indent: 1em;
	letter-spacing: 2px;
	line-height: $tqModelHeight;
	color: #fff;
	background-color: #009966;
}
.tq-model-close{
	position: absolute;
	top: 0;
	right: 20px;
}
.tq-model-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	height: $tqModelHeight;
}
.tq-model-content{
	position: absolute;
	top: $tqModelHeight;
	left: 0;
	padding:30px;
	box-sizing: border-box;
}
.tq-model-true,.tq-model-cancel{
    cursor: pointer;
	width: 50%;
	float: left;
	text-align: center;
	line-height: $tqModelHeight;
	background-color:#99CC99 ;
	box-sizing: border-box;
}
.tq-model-true{
	border-right: 1px solid #336699;
}
.tq-model-close{
	cursor: pointer;
}

//轮播CSS
$tqCarouselControl:50px;
$tqTipsRound:20px;
.tq-carousel{
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
	.tq-prev,.tq-next{
		position:absolute;
		top:0;
		width:$tqCarouselControl;
		height:100%;
		text-align:center;
		background-color:#fff;
		opacity:0;
		z-index:99;
		cursor:pointer;
	}
	.tq-prev{
		left:0;
	}
	.tq-next{
		right:0;
	}
	&:hover .tq-prev,&:hover .tq-next{
			background-color:#fff;
			opacity:0.2;
		}
	.tq-carousel-img{
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		overflow:hidden;
		div{
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:0;
			text-align:center;
			color:#fff;
			font-size:30px;
			&>img{
				width:100%;
			}
		}
		.one{
			background-color:#FF6666;
		}
		.two{
			background-color:#99CC66;
		}
		.three{
			background-color:#333399;
		}
	}
	.tq-carousel-nav{
		width:100%;	
		z-index:9;
		position:absolute;
		bottom:10px;
		left:0;
		right:0;
		margin:0 auto;
		text-align:center;
		& li{
			display:inline-block;
			width:$tqTipsRound;
			height:$tqTipsRound;
			line-height:$tqTipsRound;
			border-radius:50%;
			background-color:#99CC99;
			cursor:pointer;
			&:hover{
				background-color:#009966;
			}
		}
		.actives{
			background-color:#009966;
		}
	}
}