*{margin: 0;padding: 0;font-family: "黑体";}
html{font-size: 100%;}

ul{list-style: none;}
/*@media screen and (min-width: 768px){
	#main_body{width: 768px;
				margin:0 auto;}
}*/

#top{background: #91d4da;
	display: flex;
	text-align: center;
	align-items:center;
	color:#fff;
	width: 100%;
	line-height: 3rem;}
#top_left{display: flex;
		  width: 20%;
		  align-items:center;
		  flex-grow:0;
		  flex-shrink: 0;
		  }
#top_left p{display: flex;
			flex-grow:0;
		    flex-shrink: 0;}		  
#top_img{width: 2rem;
		 height: auto;}
#top_right{justify-content:center;
			align-items:center;
			width: 80%;
			flex-grow:1;
			flex-shrink: 1;}
#main_2{width: 100%;
		}
#main_2 ul{display:flex;
		text-align:center;
		justify-content:space-between;
		align-content:center;
		flex-grow:1;
		flex-shrink: 0;}
#main_2 ul li{float: left;
			  font-size: 1rem;
			  flex-grow:1;
		  	  flex-shrink: 0;
		  	  line-height: 3rem;}
.on_li{border-bottom:0.2rem solid #91d4da;}
.imgg{width: 100%;
	  height:auto;}


#main_3{width: 100%;}
#main_3 ul{display: flex;
			justify-content:space-between;
			align-content:center;}
#main_3 ul li{margin:0.5rem;text-align: center;}	
.m3_img{padding:10%;
		width:80%;
		margin:0.5rem 0;
		background:#91d4da;
		border-radius:100%;}		 
#main_3 ul li img{width: 100%;
				  height:auto;
				  margin: auto;}
#main_4{width: 100%;
		display:flex;
		justify-content:space-around;
		border-top:0.1rem solid #dfdfdf;

		padding:1rem 0;}
#main_4 div{display: flex;
			flex-direction:column;
			justify-content:center;
			align-content: center;
			text-align: center;
			font-size:1.5rem;}
	
#main_4 div span{font-size:1rem;
				color: #ccc;}
#m4_right{border-right:0.1rem solid #dfdfdf;}
#main_4 div h2{	color:#666;}							
#main_4 div img{width:100%;}

#main_5{width: 100%;}
#m5_p1{width: 100%;
	  font-size: 2rem;
	  border-top:1rem solid #f5f5f5;
	  border-bottom:0.2rem solid #ccc;
	  margin:0.5rem 0;
	  padding:0.5rem 0;
	}
.m5_d1{display: flex;
		width: (100%-1rem);
        margin: 0.5rem;}

.m5_d1 img{width:100%;
			height: auto;
			border:0.2rem solid #feb832;}
.m5_d2{width: 30%;}
.m5_d3{width: 70%;
		display: flex;
		justify-content:space-around;
		text-align: center; }
.m5_d4{width:100%;
		display: flex;
		flex-direction: column;
		justify-content:space-around; }
#main_6{border-top:1rem solid #f5f5f5;}
.m6_d1{width: (100%-1rem);
		display:flex;
		margin: 0.5rem;}
.m6_d2{width:30%;}
.m6_d2 img{width: 100%;
			height: auto;}
.m6_d3{width:70%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;}
.m6_d3 span{color: #ccc;
			font-size: 0.7rem;}
.m6_d4 {width: 96%;
		margin: 0 auto;}
.m6_d5{display: flex;
		justify-content: space-between;}
.m6_d5 img{width: 100%;
			}
.m6_d6{width: 100%;}
.m6_d4 span{color: #ccc;
			font-size: .7rem;}








