*{
	margin:0;
	padding:0;
}
#content{
	position:relative;
}
 .box{
 	padding: 15px 0 0 15px;
 	float:left;
}
 .bd{
 	border:1px solid #ccc;
 	padding:10px;
 	border-radius:5px;
 	box-shadow:0 0 5px #999;
}
 .bd img{
 	width:200px;
 	height:auto;
}
